@import url('https://fonts.googleapis.com/css?family=Eczar');

body {
  margin: 0;
  background: #F8E473;
}

.troll{
  stroke-dasharray: 5000 5000;
  stroke-dashoffset: 0;
  animation-name: troll_crawl;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-play-state: running;
}

@keyframes troll_crawl {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: grid;
  grid-template-columns: [ledge] 1fr [left] minmax(240px, 1fr) [divide] minmax(350px, 1fr) [right] 1fr [redge];
  grid-template-rows: [top] 15vh [title] 25vh [csparc] 25vh [git] 25vh [traces] 5vh [tamed] 5vh [bottom];
}

.head {
  border-bottom: 3px solid #000;
  line-height: 15vh;
  grid-row: top / title;
}

.body {
  line-height: 25vh;
}
.right {
  font-family: Eczar, serif;
  font-size: 10vh;
  text-align: left;
  grid-column: divide / right;
}

.left{
  align-items: center;
  vertical-align: middle;
  grid-column: left / divide;
}

.right.head {
  margin-top: 2vh;
}

.left.head{
  stroke: #000;
  fill: none;
  stroke-width:10;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1;
  padding-top: 2vh;
  padding-bottom: 2vh;

}

.one {
  grid-row: title / csparc;
}

.two {
  grid-row: csparc / git;
}

.three {
  grid-row: git / traces;
}

.full {
  grid-column: ledge / redge;
}

.footer {
  text-align: center;
  font-family: Eczar, serif;
  font-size: 1.5vh;
  grid-row: tamed / bottom;
  grid-column: ledge / redge;
}
