@import url('https://fonts.googleapis.com/css?family=Eczar');

.troll{
  stroke-dasharray: 5000 5000;
  stroke-dashoffset: 0;
  animation-name: troll_crawl;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-play-state: running;
}

@keyframes troll_crawl {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(240px, 1fr) minmax(350px, 1fr) 1fr;
  grid-template-rows: 20vh 35vh 35vh 5vh 5vh;
  grid-template-areas:
    "lshd lhd rhd rshd"
    "left-side left1 right1 right-side"
    "left-side left2 right2 right-side"
    ". . . ."
    ". foot foot .";
}

.head {
  border-bottom: 3px solid #000;
  line-height: 20vh;
}

.body {
  line-height: 35vh;
}
.right {
  font-family: Eczar, serif;
  font-size: 10vh;
  text-align: left;
  padding-left: 5vw;
}

.left{
  align-items: center;
  vertical-align: middle;
}

.right.head {
  grid-area: rhd;
  margin-top: 2vh;
}

.left.head{
  grid-area: lhd;
  stroke: #000;
  fill: none;
  stroke-width:10;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1;
  padding-top: 2vh;
  padding-bottom: 2vh;

}

.one.left {
  grid-area: left1;
}

.one.right {
  grid-area: right1;
}

.rowOne {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.two.left {
  grid-area: left2;
}

.two.right {
  grid-area: right2;
}

.rowTwo {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  grid-area: foot;
  text-align: center;
  font-family: Eczar, serif;
  font-size: 1.5vh;
}
